@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FF99FF;
    font-size: 18px;
    font-family: 'Lobster', cursive;


}

header {
    height: 80px;
    background-color: #FF0033;
    position: fixed;
    width: 100%;
    padding-top: 0px;
    padding-left: 30px;
    font-size: 24px;
}

header a {
    color: aqua;
    text-decoration: none;
    padding-top: 20px;


}

.page-container {
    min-height: 100vh;
    padding-top: 80px;

}

main {
    margin: 10px 10% 60px 220px;
    padding: 0px 25px;


}

aside {
    width: 190px;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom, #FF0066, #FF00FF);
    padding-top: 10px;
    font-size: 20px;

}

aside a {
    display: block;
    color: aqua;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 35px;

}

.logo {
    margin-left: 5px;
    font-size: 35px;
    
}

p {
    line-height: 300%;
    border-left: 6px solid #FF0000;
    padding-left: 10px;


}

.row {
    overflow: auto;

}

[class^="col-"] {
    float: left;
    padding: 5px;

}

.col-10 {
    width: 10%;
}

.col-10 {
    width: 20%;
}

.col-10 {
    width: 30%;
}

.col-10 {
    width: 40%;
}

.col-10 {
    width: 50%;
}

.col-10 {
    width: 60%;
}

.col-10 {
    width: 70%;
}

.col-10 {
    width: 80%;
}

.col-10 {
    width: 90%;
}

.col-10 {
    width: 100%;
}


.disney-img {
    display: block;
    height: 300px;
    width: 900px;
    margin: 40px auto;
    max-width: 100%;
    border-radius: 8px;
    text-align: center;


}

.title {
    border-bottom: 4px solid #FF0000;
    margin-bottom: 5px;
    margin-top: 10px;
    display: inline-block;
}


.contact-list {
    line-height: 200%;
    list-style: linear-gradient(#FF0000);

}

.map {
    width: 100%;
    max-width: 480px;
    height: 300px;
    border-radius: 5px;
    border: 2px solid #FF0000;
}


.centered {
    text-align: center;
}

.contact-form {
    background-color: #f096b5;
    border-radius: 5px;
    border: 2px solid #FF0000;
    max-width: 480px;
    padding: 5px 15px 22px 15px;

}

.contact-form input,
.contact-form textarea {
    display: block;
    width: 50%;
    margin: 15px auto 0px auto;
    resize: none;
    font-family: inherit;
    padding: 3px;
    font-size: 16px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;



}

.gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;



}

.gallery img:hover {
    transform: scale(1.05);
    transition: all 0.4s;
}

.logo-img {
    text-align: center;
    width: 150px;
    height: 150px;
    margin-left: 1000px;
    margin-top: 10px;
}

.despre-noi {
    text-align: center;
    margin-left: 400px;
    vertical-align: auto;
    width: 200px;
    height: 100px;
}

.despre-noi1 {
    margin-left: 400px;
    text-align: center;
    width: 200px;
    height: 100px;
}
#menu-btn {
    color: aqua;
    font-size: 28px;
    position: absolute;
    top: 22px;
    right: 25px;
    display: none;
}
.show {
    display: block !important;
}
@media (max-width: 768px){
    body{
        font-size: 16px;
    }
    [class^="col-"] {
        width: 100%;
    
    }
    main {
        margin: 0px;
        padding: 10px 15px 20px 15px;
    }
    aside {
        display: none;
        height: auto;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 25px;

    }
    .gallery img{
        width: 130px;
        height: 130px;
    }
#menu-btn{
    display: block;
}
.despre-noi{
    margin-left: 100px;
}
.despre-noi1{
    margin-left: 100px;
}
.logo-img {
    margin-left: 300px;
    width: 100px;
    height: 100px;
    display: block;
}
}


  